@{
    ViewData["Title"] = "Home Page";
}
<div class="container text-center">
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Index">Quản Lí Nhân Viên</a>
        </li>
        <li class="list-group-item list-group-item-primary  ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Staff" asp-action="Map">Bản Đồ Nhân Viên</a>
        </li>
    </ul>
</div>