/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
#addSearch {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    background-color: #efefef;
}
#search {
    display: flex;
    flex-direction: row;
    line-height: 40px;
}
    #search p {
        padding: 0 5px;
        position: absolute;
        background-color: #cfcfcf;
        border-radius: 8px 0 0 8px;
        z-index: 1;
    }
    #search input {
        position: relative;
        border: 1px solid #cfcfcf;
        outline: 0;
        border-radius: 50px 30px 30px 50px;
        padding: 5px 5px 5px 80px;
    }