@model MVCExample.Models.nhan_vien
@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

@* form for delete *@
<form id="formDeleteView">
    <p>Bạn có chắc chắn muốn xóa không?</p>
    <div class="text-right">
        <input type="submit" id="submitDeleteForm2" value="Xóa" class="btn btn-success" data-dismiss="modal" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}