@model MVCExample.Models.Staff

@{
    ViewData["Title"] = "Edit";
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@
    Layout = null;
}

<div class="row" style="justify-content: space-around;">
    <div class="col-md-12">
        <form id="formEditAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="maNhanVien" class="control-label"></label>
                <input asp-for="maNhanVien" class="form-control" />
                <span asp-validation-for="maNhanVien" class="text-danger"></span>
                </div> *@
            <div class="row">
                <div class="form-group col-md-6" style="float: left;">
                    <label asp-for="hoTen" class="control-label"></label>
                    <input asp-for="hoTen" id="hoTen" class="form-control" />
                    <span asp-validation-for="hoTen" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="float: right;">
                    <label asp-for="ngaySinh" class="control-label"></label>
                    <input asp-for="ngaySinh" id="ngaySinh" class="form-control" />
                    <span asp-validation-for="ngaySinh" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="float: left;">
                    <label asp-for="sdt" class="control-label"></label>
                    <input asp-for="sdt" id="sdt" class="form-control" />
                    <span asp-validation-for="sdt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="float: right;">
                    <label asp-for="diaChi" class="control-label"></label>
                    <input asp-for="diaChi" id="diaChi" class="form-control" />
                    <span asp-validation-for="diaChi" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="chucVu" class="control-label"></label>
                    <input asp-for="chucVu" id="chucVu" class="form-control" />
                    <span asp-validation-for="chucVu" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="submit" id="submitUpdate" value="Lưu" class="btn btn-primary" data-dismiss="modal"/>
                <a asp-action="Index" class="btn btn-danger d-inline" data-dismiss="modal">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
