@model MVCExample.Models.Staff

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row" style="justify-content: space-around;">
    <div class="col-md-12">
        <form id="formEditAction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ma_nhanvien" class="form-control" />
            <div class="row">
                <div class="form-group col-md-6" style="float: left;">
                    <label asp-for="ho_ten" class="control-label"></label>
                    <input asp-for="ho_ten" id="ho_ten" class="form-control" />
                    <span asp-validation-for="ho_ten" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6" style="float: right;">
                    <label asp-for="ngay_sinh" class="control-label"></label>
                    <input asp-for="ngay_sinh" id="ngay_sinh" class="form-control" />
                    <span asp-validation-for="ngay_sinh" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6" style="float: left;">
                    <label asp-for="sdt" class="control-label"></label>
                    <input asp-for="sdt" id="sdt" class="form-control" />
                    <span asp-validation-for="sdt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="chuc_vu" class="control-label"></label>
                    <input asp-for="chuc_vu" id="chuc_vu" class="form-control" />
                    <span asp-validation-for="chuc_vu" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-12" style="float: right;">
                    <label asp-for="dia_chi" class="control-label"></label>
                    <input asp-for="dia_chi" id="dia_chi" class="form-control" />
                    <span asp-validation-for="dia_chi" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="submit" id="submitUpdate" value="Lưu" class="btn btn-primary" data-dismiss="modal" />
                <a asp-action="Index" class="btn btn-danger d-inline" data-dismiss="modal">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
