@model IEnumerable<MVCExample.Models.Staff>

@{

    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center" style="padding: 15px; text-transform: Uppercase">Quản lý nhân viên</h2>
<div class="add-search">
    <a onclick="showPopUp('@Url.Action("Create","Staff")','Thêm mới')" class="btn btn-success" style="color: #fff;">
        <i class="fas fa-user-plus"></i> Thêm mới
    </a>

    <div class="input-group rounded" style="width: 450px;">
        @* @{
            List<SelectListItem> myList = new List<SelectListItem>();
            var data = new[]{
            new SelectListItem{ Value="1",Text="Phòng IT"},
            new SelectListItem{ Value="2",Text="Phòng Designer"},
            new SelectListItem{ Value="3",Text="Phòng Khác"},
            };
            myList = data.ToList();
            @Html.DropDownList("dropdownValue", new SelectList(myList, "Value", "Text"), "--Tất cả--")

            } *@
        <select onchange="funcdropdown()" class="form-control" id="dropdownValue" style="margin-right: 10px;">
            <option value="0">--Tất cả--</option>
            <option value="1">Phòng IT</option>
            <option value="2">Phòng Designer</option>
            <option value="3">Phòng Khác</option>
        </select>

        <input type="search" id="txtSearch" name="txtSearch" class="form-control rounded" placeholder="Nhập từ khóa..."
            aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="input-group-text border-0" id="subSearch">Search</button>
    </div>
</div>

<table class="table table-hover" id="table-refresh">
    <thead class="table-success">
        <tr>
            <th>Mã Nhân Viên</th>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>SĐT</th>
            <th>Địa Chỉ</th>
            <th>Chức Vụ</th>
            <th>Phòng ban</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="tableViewAll">

    </tbody>

</table>
<ul id="pagination" class="pagination pagination-sm" style="justify-content: flex-end;">

</ul>
<div>
    <a onclick="return donwloadExcel()" class="btn btn-primary">Download Excel</a>
</div>
@* form *@
<div class="modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" text-center></h2>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script>

</script>
