@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}

<h2>QUẢN LÝ NHÂN VIÊN</h2>
<div id="addSearch">
    <div id="addNhanVien"><a href="#">Thêm mới</a></div>
    <div id="search">
        <p>Tìm kiếm</p>
        <input type="text" name="search" value="" placeholder="Nhập từ khóa tìm kiếm..." />
    </div>
</div>
<table>
    <tr>
        <th>Mã NV</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>SĐT</th>
        <th>Chức vụ</th>
        <th>Thao tác</th>

    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
</table>