@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}

<div id="table-NhanVien">
    <h2 id="title-NhanVien">QUẢN LÝ NHÂN VIÊN</h2>
    <div id="addSearch">
        <div id="addNhanVien"><a href="/Staff/Create">Thêm mới</a></div>
        <div id="search">
            <p>Tìm kiếm</p>
            <input type="text" name="search" value="" placeholder="Từ khóa tìm kiếm..." />
        </div>
    </div>
    <table>
        <tr>
            <th>Mã NV</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>SĐT</th>
            <th>Chức vụ</th>
            <th>Thao tác</th>

        </tr>
        <tr>
            <td width="15%"></td>
            <td width="25%"></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="15%"><a href="">Sửa - Xóa</a></td>
        </tr>
        <tr>
            <td width="15%"></td>
            <td width="25%"></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="15%"><a href="">Sửa - Xóa</a></td>
        </tr>
        <tr>
            <td width="15%"></td>
            <td width="25%"></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="15%"><a href="">Sửa - Xóa</a></td>
        </tr>

        <tr>
            <td width="15%"></td>
            <td width="25%"></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="15%"><a href="">Sửa - Xóa</a></td>
        </tr>

        <tr>
            <td width="15%"></td>
            <td width="25%"></td>
            <td></td>
            <td></td>
            <td></td>
            <td width="15%"><a href="">Sửa - Xóa</a></td>
        </tr>


    </table>