@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Index</h1>
<div class="add-search">
    <a onclick="showPopUp('@Url.Action("Create","Staff")','Thêm mới')" class="btn btn-success" style="color: #fff;"><i
            class="fas fa-user-plus"></i> Thêm mới</a>

    <form id="formSearchSubmit" asp-action="Index">
        <div class="input-group rounded">
            @Html.TextBox("keyword")
            @*<input type="search" id="inSearch123" class="form-control rounded" placeholder="Nhập từ khóa..."
                aria-label="Search" aria-describedby="search-addon" />*@
            <button type="submit" class="input-group-text border-0" id="btSearchForm">
                Search
            </button>
        </div>
    </form>

</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@{
    Func<int?, string> generateUrl = (int? p) =>
            {
                return Url.ActionLink(null,null, new { page = p });
            };

    var pagingmodel = new MVCExample.Models.PagingModel()
    {
        currentpage = ViewBag.Page,
        countpages = ViewBag.countPages,
        generateUrl = generateUrl
    };
}
<partial name="_Page" model="@pagingmodel" />
