@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="add-search">
    <p class="add">
        <a asp-action="Create">Thêm nhân viên</a>
    </p>
    <form asp-action="Search" class="search d-flex" onsubmit="return JquerySearch(this)">
        <div class="input-group mb-3">
            @Html.TextBox("keyword")
            <button class="btn btn-success" type="submit">Go</button>
        </div>
      </form>

</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
