@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Index</h1>
<div class="add-search">
    <a onclick="showPopUp('@Url.Action("Create","Staff")','Thêm mới')" class="btn btn-success" style="color: #fff;"><i
            class="fas fa-user-plus"></i> Thêm mới</a>

    <div onkeydown="return JquerySearchForm(this)" class="search d-flex">

        @* @Html.TextBox("keyword")*@

        <div class="input-group rounded">
            <input type="search" id="inSearch123" class="form-control rounded" placeholder="Nhập từ khóa..."
                aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="input-group-text border-0" id="search-addon btSearchForm">
                Search
            </button>
        </div>
    </div>

</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

@{
    Func<int?, string> generateUrl = (int? p) =>
            {
                return Url.ActionLink("Index", null, new {page = p});
            };

    var pagingmodel = new MVCExample.Models.PagingModel()
    {
        currentpage = ViewBag.Page,
        countpages = ViewBag.countPages,
        generateUrl = generateUrl
    };
}
<partial name="_Page" model="@pagingmodel" />
