@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="add-search">
    <p class="add">
        <a asp-action="Create">Thêm nhân viên</a>
    </p>
    <form asp-action="Index" class="search">
        <span>Tìm kiếm</span>
        @Html.TextBox("keyword")
    </form>

</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>



