@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>
<div class="add-search">
    <a onclick="showPopUp('@Url.Action("Create","Staff")','Thêm mới')" class="btn btn-success" style="color: #fff;">
        <i class="fas fa-user-plus"></i> Thêm mới
    </a>

    <div class="input-group rounded" style="width: 450px;">

        <select class="form-control" id="dropdownValue">
            <option value="0">--Tất cả--</option>
            <option value="1">Phòng IT</option>
            <option value="2">Phòng Designer</option>
            <option value="3">Phòng Khác</option>
        </select>

        @* @Html.TextBox("keyword") *@
        <input type="search" id="txtSearch" name="txtSearch" class="txtSearch form-control rounded"
            placeholder="Nhập từ khóa..." aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="input-group-text border-0" id="subSearch">Search</button>

    </div>
</div>

<table class="table table-hover" id="table-refresh">
    <thead class="table-success">
        <tr>
            <th>Mã Nhân Viên</th>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>SĐT</th>
            <th>Địa Chỉ</th>
            <th>Chức Vụ</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="tableViewAll">

    </tbody>

</table>
<ul id="pagination" class="pagination pagination-sm" style="justify-content: flex-end;">

</ul>
<div>
    <a onclick="return donwloadExcel()" class="btn btn-primary">Download Excel</a>
</div>
@* form *@
<div class="modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" text-center></h2>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<script>

</script>
