@model IEnumerable<MVCExample.Models.Staff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="add-search">
    <p class="add">
        <a asp-action="Create">Thêm nhân viên</a>
    </p>
    <div onkeydown  ="return JquerySearchForm(this)" class="search d-flex">

            @* @Html.TextBox("keyword")*@
            
        <div class="input-group rounded">
            <input type="search" id="inSearch123" class="form-control rounded" placeholder="Nhập từ khóa..." aria-label="Search"
                   aria-describedby="search-addon" />
            <button type="button" class="input-group-text border-0" id="search-addon btSearchForm">
                Search
            </button>
        </div>
    </div>

</div>
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<script type="text/javascript">
    
    
</script>