@model IEnumerable<MVCExample.Models.nhan_vien>

@{

    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="text-center" style="padding: 15px; text-transform: Uppercase">Bản Đồ Nhân Viên</h2>
<div id="bodyMap" class="d-flex">
    <div id="left-bodyMap">
        <div id="searchNV">
            <input type="search" id="txtSearch" name="txtSearch" class="form-control rounded" placeholder="Nhập từ khóa..."
                   aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="input-group-text border-0" id="subSearch">Search</button>
        </div>
        <table class="table table-hover" id="table-map-search">
            <thead class="thead-light">
                <tr>
                    <th>Họ Tên</th>
                    <th>Chức Vụ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="DanhSachNV">
            </tbody>

        </table>
        <ul id="paginationMap" class="pagination pagination-sm">
        </ul>
    </div>
    <div id="right-bodyMap" class="w-70 bg-danger flex-grow-1">
        <div id="map"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        GetMap(null);
        danhsachNVMap(null, null, 1);
    })

    function GetMap(mnv) {
        $.ajax({
            type: 'GET',
            url: '/Staff/GetMap',
            data: { mnv: mnv },
            success: function (res) {
                var data = res.data;
                var map = L.map('map').setView([21.0281326552094, 105.8361773499927], 10);

                if (res.x > 0 && res.y > 0) {
                    var x = res.x;
                    var y = res.y;
                    map.setView([x, y], 12);
                } else {
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    // click show position
                    var popup = L.popup();
                    function onMapClick(e) {
                        popup
                            .setLatLng(e.latlng)
                            .setContent("Vị trí trên map: " + e.latlng.toString())
                            .openOn(map);
                    }
                    map.on('click', onMapClick);
                

                //market cua all nhan vien
                for (var i = 0; i < data.length; i++) {
                    var DSNV = [];
                    var marker = [];
                    marker[i] = L.marker([data[i].x, data[i].y]).addTo(map);
                    
                   
                    DSNV[i] = "Họ tên: " + data[i].ho_ten + "," + " SĐT: " + data[i].sdt + "," + " Chức vụ: " + data[i].chuc_vu + ","
                        + " Địa chỉ: " + data[i].dia_chi + "," + " Phòng ban: " + data[i].phong_ban.ten_phong_ban;

                    marker[i].bindPopup(DSNV[i]); // show thong tin nv
                   //

                }
                    //click
                    $(document).on("click", "#iconMap", function () { //click
                        var redirect = $("#valuedataNV").attr('data-map');
                        map.setView([21.0281326552094, 105.8361773499927], 15);
                        
                    })
                

                //circle
                var circle = L.circle([21.019638, 105.818253], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.25,
                    radius: 20000
                }).addTo(map);

                


                

                
                }
                
                
            },
            error: function (err) {
                console.log(err)
            }
        })
    }


</script>
